- content_for(:subheader) do
  %h2= t('about.headline')

.row.row-content
  .container
    = markdown t('about.abstract', :badge_image_url => image_path('badge-example.svg'))

    = render 'projects/form_new'
