.promo-text
    :markdown
    ## Let's raise the visibility of documentation in JavaScript!

    The plan is for Inch CI to get JavaScript support in February. This might prove a challenge, since there aren't alot of structural similarities to Ruby and Elixir.

    This is where you come in:

    * To help me build the best Inch for JavaScript, ***<a href="https://github.com/inch-ci/inch_ci-web/edit/master/add_my_project_to_inch_ci.yml" style="text-decoration: underline">edit this list via GitHub</a>*** and add your project.
    * ***Tweet about it***, mentioning ["@InchCI for JavaScript"](https://twitter.com/InchCI), encouraging others to join in our quest to help make inline-docs better in JS.
    * By doing so, you are so-to-speak "joining the private beta of Inch CI for JavaScript". [1]
    * ***I will create a badge for you*** and evaluate your project with the InchJS release candidate.
    * You get access to these badges before the general public (as a "thank you").
    * We can discuss ***how to make the evaluation better/more fair***.

    That's the plan.

    ---

    ## What is this?

    Inch CI is a software project I created to help people document their code.
    It provides badges to show off inline-docs: [![Inline docs](http://inch-ci.org/github/FGRibreau/doxx.svg?branch=master)](http://inch-ci.org/github/FGRibreau/doxx)

    I really think that posting these badges in a project's README will benefit the project (because people can see that it's well documented) and the community by improving the visibility of documentation.

    ---

    ## Wait, who are you?

    I'm [@rrrene](https://twitter.com/rrrene), creator of [sparkr](http://trivelop.de/sparkr) and [Inch](http://trivelop.de/inch).

    If you have any questions or suggestions: I am [on Twitter](http://twitter.com/rrrene) and reachable via email (mail in [Github profile](https://github.com/rrrene)).

    ---

    <small>[1] Okay, technically you could always wait for the finished integration, but hey, think about what Open Source is all about: collaboration and community, getting the word out and being among the first to try new stuff.</small>
