.col-lg-6
  .widget
    .widget-title
      = icon :'line-chart'
      Numbers by week

    .widget-body{:"data-scroll-down" => true}
      #chart_absolutes_by_week{:style => "height: 300px"}

:javascript
  new Morris.Line({
    // ID of the element in which to draw the chart.
    element: 'chart_absolutes_by_week',
    hideHover: true,
    // Chart data records -- each entry in this array corresponds to a point on
    // the chart.
    data: #{@absolutes_by_week.to_json.html_safe},
    // The name of the data record attribute that contains x-values.
    xkey: 'date',
    // A list of names of data record attributes that contain y-values.
    ykeys: [
        'projects:all', 'projects:badges', 'maintainers:badges'
      ],
    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['Projects', 'Badges', 'Maintainers', 'Hooks'],
    lineColors: ['#ccc', '#88cc33', '#428bca', '#66FF99']
  });
