.col-lg-6
  .widget
    .widget-title
      = icon :'bar-chart'
      Growth by week

    .widget-body{:"data-scroll-down" => true}
      #chart_growth_by_week{:style => "height: 150px"}
      #chart_growth_by_week2{:style => "height: 150px"}

:javascript
  new Morris.Bar({
    // ID of the element in which to draw the chart.
    element: 'chart_growth_by_week',
    behaveLikeLine: true,
    hideHover: true,
    // Chart data records -- each entry in this array corresponds to a point on
    // the chart.
    data: #{@growth_by_week.to_json.html_safe},
    // The name of the data record attribute that contains x-values.
    xkey: 'date',
    // A list of names of data record attributes that contain y-values.
    ykeys: [
        'projects:badges', 'projects:hooked'
      ],
    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['Badges', 'Hooks'],
    barColors: ['#88cc33', '#FF9900']
  });

  new Morris.Bar({
    // ID of the element in which to draw the chart.
    element: 'chart_growth_by_week2',
    behaveLikeLine: true,
    hideHover: true,
    // Chart data records -- each entry in this array corresponds to a point on
    // the chart.
    data: #{@growth_by_week.to_json.html_safe},
    // The name of the data record attribute that contains x-values.
    xkey: 'date',
    // A list of names of data record attributes that contain y-values.
    ykeys: [
        'maintainers:badges', 'maintainers:hooked'
      ],
    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['Maintainers', 'w/ hooks'],
    barColors: ['#428bca', '#FF704D']
  });
