.col-lg-12
  .widget
    .widget-title
      = icon :calculator
      Projects who added badges
      between
      = @date_from
      and
      = @date_to

    .widget-body
      = render '/admin/projects/table', :projects => @projects
