
<div class="row">
  <%= render "statistics" %>

  <%= render "chart" %>
</div>





<div class="row">

  <div class="col-lg-3 col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon green pull-left">
          <i class="fa fa-users"></i>
        </div>
        <div class="widget-content pull-left">
          <div class="title"><%= @stats_badges %></div>
          <div class="comment">READMEs with badges</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon red pull-left">
          <i class="fa fa-tasks"></i>
        </div>
        <div class="widget-content pull-left">
          <div class="title">16</div>
          <div class="comment">Servers</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon orange pull-left">
          <i class="fa fa-sitemap"></i>
        </div>
        <div class="widget-content pull-left">
          <div class="title">225</div>
          <div class="comment">Documents</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="spacer visible-xs"></div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon blue pull-left">
          <i class="fa fa-support"></i>
        </div>
        <div class="widget-content pull-left">
          <div class="title">62</div>
          <div class="comment">Tickets</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

</div>





<div class="row">

  <%= render "latest_projects" %>
  <div class="col-lg-6">
    <div class="widget">
      <div class="widget-title">
        <i class="fa fa-users"></i> Users
        <input type="text" placeholder="Search" class="form-control input-sm pull-right" />
        <div class="clearfix"></div>
      </div>
      <div class="widget-body medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr><th class="text-center">ID</th><th>Username</th><th>Role</th><th>Account</th></tr>
            </thead>
            <tbody>
              <tr><td class="text-center">1</td><td>Joe Bloggs</td><td>Super Admin</td><td>AZ23045</td></tr>
              <tr><td class="text-center">2</td><td>Timothy Hernandez</td><td>Admin</td><td>AU24783</td></tr>
              <tr><td class="text-center">3</td><td>Joe Bickham</td><td>User</td><td>AM23781</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
