.repo-wrapper
  .repo-card
    .repo-info
      %h2.sub-header
        = t("users.show.title", :name => @user.name, :user_name => @user.user_name)
      .table-responsive
        %table.table.table-striped.builds
          %thead
            %tr
              %th Project
          %tbody
            - @projects.each do |project|
              %tr
                %td= link_to_project project
