.elixirstatus-promo-hint
  %a{:href => "http://elixirstatus.com/", :target => '_blank'}
    .inner
      Interested in Elixir?
      %strong elixirstatus.com
      is coming soon.
      %span Take a look
      and gain early access.
