.elixirstatus-promo-hint
  %a{:href => "http://elixirstatus.com/", :target => '_blank'}
    .inner
      Interested in Elixir?
      %strong elixirstatus.com
      is a new community hub currently in beta!
