:markdown
  ## How-to get your Elixir docs badge



  ### Need a hand?

  ***If you need any help*** setting this up, just [edit this file on GitHub](https://github.com/rrrene/inch_ex/edit/master/add_my_project_to_inch_ci.yml) and add your `username/project`.

  I will in turn send you a pull request with your very own docs badge!



  ### Setup via mix task

  ***Be sure your working dir is clean and all changes are pushed to GitHub.***

  Include `inch_ex` in your dependencies in the `mix.exs` file:

      defp deps do
        [{:inch_ex, only: :docs}]
      end

  After adding `inch_ex` simply run the following from your project directory:

      $ MIX_ENV=docs mix do deps.get, inchci.add

  and your project will be added to Inch CI.



  ### Extended setup

  To add your project to Inch CI and to re-evaluate your docs after Travis tests are run, you have to include `inch_ex` in your dependencies in the `mix.exs` file:

      defp deps do
        [{:inch_ex, only: :docs}]
      end

  Your `.travis.yml` might look something like this:

      language: elixir
      elixir:
        - 1.2
      otp_release:
        - 18.0
        - 18.3

  Simply ***add the following*** at the end of the file:

      after_script:
        - MIX_ENV=docs mix deps.get
        - MIX_ENV=docs mix inch.report

  What this does is that your docs are evaluated at the end of your next Travis build.

  Travis sends a report to Inch CI which then displays the results here (and generates a new badge).
