.col-lg-12
  .widget
    .widget-title
      = icon :database
      Latest projects
      .pull-right
        - @languages.each do |language|
          = link_to_unless @language == language, language, params.merge(:language => language)

    .widget-body
      = render 'table', :projects => @projects
