= form_tag(projects_path, :method => :post, :class => 'form-inline') do
  .form-group{:class => flash[:error] ? 'has-error' : nil}
    = text_field_tag "repo_url", params[:repo_url], :class => "form-control input-lg", :placeholder => t("welcome.project_placeholder")
    = submit_tag t("welcome.add_project"), :class => "btn btn-lg"
    - flash[:error].tap do |error_message|
      .error
        = error_message
