.projects-subnavi
  .btn-group.btn-group-justified
    = link_to_subnavi :history, project_history_url(@project, @branch.name)
    = link_to_subnavi :show, project_path(@project, @branch.name)
    = link_to_subnavi :suggestions, project_suggestions_path(@project, @branch.name), :suggestion_count => @suggestion_count
    - if @project.documentation_url
      = link_to icon(:rocket) + ' &nbsp; Read the docs'.html_safe, @project.documentation_url, :target => '_blank', :class => 'btn btn-primary'
