- if params[:pending_build]
  .configure-a-webhook
    %em Pro-Tip:
    You can also
    = link_to "configure a webhook!", current_user? ? user_path(current_user) : help_webhook_path
    = icon('hand-o-left')
