.col-lg-10
  .widget
    .widget-title
      = icon :calculator
      - if action_name == 'days'
        Raw daily numbers
      - else
        Raw weekly numbers

    .widget-body
      .table-responsive
        %table.table
          %tbody
            %thead
              %tr
                - @stats_headers.each do |value|
                  %th= value
            %tbody
              - @stats.each do |stats|
                %tr
                  - stats.each do |value|
                    %td= value



.col-lg-2
  .widget
    .widget-title
      Filters

    .widget-body
