// Place all the styles related to the admin/builds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page-wrapper {
  padding-top: 8px;
  background-image: image-url("topbar.png");
  background-repeat: repeat-x;
}

.latest_projects tr td {
  height: 38px;
}

.latest_projects tr.yesterday td {
  background: #f0f0f0;
}
.latest_projects tr.today td {
  background: #d9edf7;
}
