// Place all the styles related to the admin/cli controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.terminal {
  background-color: #222;
  color: #eee;
  padding: 20px;
}