body
  background-image: image-url("topbar.png")
  background-repeat: repeat-x
  padding-top: 8px
  background-color: #fff

.main
  a
    color: #3555A7
    text-decoration: underline
  .nav a
    text-decoration: none

.stats
  max-width: 980px
  margin: 20px 0
  background-color: #f0f0f0
  .progress
    margin: 0

table.stats-box
  th
    width: 10px
    font-weight: normal
    color: #999

tr.hidden_object
  display: none

.grade-table
  td
    border: 1px solid #e5e5e5

table
  tr
    td.duration
      white-space: nowrap
    .status,
    .trigger
      text-align: center
    .status.warning
      color: #A8BB8F
    .status.success
      color: #548D3C
    td.trigger
      .fa
        opacity: 0.5

.start_build
  text-align: right
  padding-top: 10px
  padding-right: 30px
  em
    background: #ffa
  .fa
    font-size: 200%

.btn-cancel
  margin-top: 20px
