.badge-info {
  position: absolute;
  right: 0;
  top: 0;
  background: #f0f0f0;
  padding: 2px 10px;
  border-radius: 4px;
}
.badge-info a,
.badge-info a:hover {
  color: #999;
  text-decoration: none;
}
.badge-info a:hover {
  color: inherit;
}
.badge-info img {
  vertical-align: text-bottom;
}
#badge-image-markup {
  background: #3C393F;
  color: #aaa;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 1rem 2rem 0.5rem 2rem;
  border-top: 4px solid #ddd;
  border-bottom: 4px solid #ddd;
}
#badge-image-markup h3 {
  margin-top: 0;
}
#badge-image-markup label {
  float: left;
  width: 6rem;
  font-weight: normal;
}
#badge-image-markup form label {
  width: 7.5rem;
}
#badge-image-markup form label img {
  cursor: pointer;
}
#badge-image-markup form {
  margin-bottom: 1rem;
}
#badge-image-markup input.url {
  width: 30rem;
  padding: 0.1rem;
}

.progress {
  height: 20px;
  overflow: hidden;
  background-color: transparent;
  border-radius: 0;
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}

$color-grade-A: #00A300;
$color-grade-B: #88DA0C;
$color-grade-C: #EE6F47;
$color-grade-U: #BB85F7;

.grade-circle-A,
.progress-bar-A {
  background-color: $color-grade-A;
}
.grade-circle-B,
.progress-bar-B {
  background-color: $color-grade-B;
}
.grade-circle-C,
.progress-bar-C {
  background-color: $color-grade-C;
}
.grade-circle-U,
.progress-bar-U {
  background-color: $color-grade-U;
}

.grade-circle {
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
}

.grade-list-table {
  width: 100%;
  margin-bottom: 0;
}
.grade-list-table th {
  text-align: left;
  padding-left: 1rem;
  border: none !important;
  border-radius: 4px;
}
.grade-list-table td {
  background: #fff;
  border: none !important;
}
.grade-list-table th,
.grade-list-table td.grade {
  // border-left: 4px solid #eee;
  color: #fff;
}
.grade-list-table td:last-child,
.grade-list-table td:first-child,
.grade-list-table td.grade {
  width: 3rem;
  text-align: center;
}
.grade-list-table td:last-child img {
  opacity: 0.2;
  vertical-align: middle;
}
.grade-list-table td.fullname {
  word-wrap: break-word;
  padding-top: 12px;
  h4 {
    margin-top: 0;
    padding-top: 0;
  }
  strong {
    display: block;
    margin-top: 20px;
    font-weight: normal;
  }
  .location {
    opacity: 0.4;
    float: right;
  }
  .pre-container {
    position: relative;
    margin: 10px 10px 0 10px;
    pre {
      background-color: #eee;
      border: none;
    }
    a {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 4px 6px;
      font-size: 13px;
      color: #000;
      text-decoration: underline;
      opacity: 0.5;
    }
  }
  ul {
    margin: 10px 0;
    padding-left: 30px;
  }
  .issue-hint {
    padding-top: 4px;
    margin-top: 20px;
    border-top: 1px solid #aaa;
    font-size: 13px;
    color: #aaa;
    a {
      color: rgb(255, 153, 105)
    }
  }
}
.grade-list-table tr.show_more td:first-child {
  // border-left: 4px solid #ccc;
  color: #666;
}
.grade-list-table tr.more_object {
  display: none;
}


.grade-list-table-A th {
  background-color: $color-grade-A;
}
.grade-list-table-A th {
  border-color: $color-grade-A;
}
.grade-list-table-A td:first-child {
  // border-left-color: $color-grade-A;
}

.grade-list-table-added th {
  background-color: #90C790;
}
.grade-list-table-added th {
  border-color: #90C790;
}
.grade-list-table-added td:first-child {
  // border-left-color: #90C790;
}

tr.added td.change {
  color: #aaa;
}
tr.improved {
  td.change,
  b {
    color: #00A300;
  }
  td.change {
    font-size: 18px;
  }
}
tr.degraded {
  td.change,
  b {
    color: #FF3D00;
  }
  td.change {
    font-size: 18px;
  }
}

.grade-list-table-B th {
  background-color: $color-grade-B;
}
.grade-list-table-B th {
  border-color: $color-grade-B;
}
.grade-list-table-B td:first-child {
  // border-left-color: $color-grade-B;
}

.grade-list-table-C th {
  background-color: $color-grade-C;
}
.grade-list-table-C th {
  border-color: $color-grade-C;
}
.grade-list-table-C td:first-child {
  // border-left-color: $color-grade-C;
}

.grade-list-table-U th {
  background-color: $color-grade-U;
}
.grade-list-table-U th {
  border-color: $color-grade-U;
}
.grade-list-table-U td:first-child {
  // border-left-color: $color-grade-U;
}
