/*
 * Globals
 */

/*
 * Base structure
 */
html {
  height: 100%;
}
body.cover {
  color: #fff;
  background-image: transparent;
  background-color: #392455;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  padding-top: 0;

  .footer-container {
    margin-top: 6rem;
    padding-bottom: 6rem;
    background: #241C2F;
    box-shadow: inset 0 0 20px rgba(0,0,0,.5);
  }

  .featured_projects strong {
    display: block;
    margin-top: 10px;
    font-weight: normal;
  }

  hr {
    opacity: 0.1;
    margin: 30px 0;
  }

  &.centered {
    min-height: 100%;
    text-align: center;

    .cover {
      padding: 0 20px;
    }

    /*
     * Affix and center
     */

    @media (min-width: 768px) {
      /* Handle the widths */
      .masthead,
      .mastfoot,
      .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
      }
    }

    @media (min-width: 992px) {
      .masthead,
      .mastfoot,
      .cover-container {
        width: 800px;
      }
    }
  }

  h1, h2 {
    margin: 40px 0;
  }
  p, form {
    margin-bottom: 20px
  }
  .cover p {
    font-size: 21px;
  }
  .cover p a {
    text-decoration: underline;
  }
  form {
    color: #333;
    margin: 40px 0;

    .input-lg {
      width: 300px;
    }
    small {
      display: block;
      color: #fff;
      opacity: 0.6;
      text-align: left;
      padding-left: 6px;
    }
  }

  .error {
    color: #D66;
  }
  /* Links */
  a,
  a:focus,
  a:hover {
    color: #fff;
  }

  /* Custom default button */
  .btn-default,
  .btn-default:hover,
  .btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
    text-decoration: none !important;
  }


  /* Extra markup and styles for table-esque vertical and horizontal centering */
  .site-wrapper {
    width: 100%;
    min-height: 100%;
    background-image: image-url("topbar.png");
    background-repeat: repeat-x;
  }
  .cover-container {
    margin-right: auto;
    margin-left: auto;
  }

  /* Padding for spacing */
  .inner {
    padding: 30px;
  }


  /*
   * Header
   */
  .masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    a {
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .masthead-nav > li {
    display: inline-block;
  }
  .masthead-nav > li + li {
    margin-left: 20px;
  }
  .masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
  }
  .masthead-nav > li > a:hover,
  .masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: rgba(255,255,255,.25);
  }
  .masthead-nav > .active > a,
  .masthead-nav > .active > a:hover,
  .masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
  }

  @media (min-width: 768px) {
    .masthead-brand {
      float: left;
    }
    .masthead-nav {
      float: right;
    }
  }


  /*
   * Cover
   */

  .cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
  }


  /*
   * Footer
   */

  .mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
  }


  /*
   * Affix and center
   */

  @media (min-width: 768px) {
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
      width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
  }

  @media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
      width: 800px;
    }
  }
}