
body.repo {
  color: #fff;
  background-image: transparent;
  background-color: #392455;
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  text-align: center;
  min-height: 100%;
  padding-top: 0;

  .site-wrapper {
    width: 100%;
    min-height: 100%;
    background-image: image-url("topbar.png");
    background-repeat: repeat-x;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
  }
  .footer-container {
    margin-top: 6rem;
    padding-bottom: 6rem;
    background: #241C2F;
    box-shadow: inset 0 0 20px rgba(0,0,0,.5);
  }
  .cover-container {
    margin-right: auto;
    margin-left: auto;
  }
  /*
   * Header
   */
  .masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    a {
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .masthead-nav > li {
    display: inline-block;
  }
  .masthead-nav > li + li {
    margin-left: 20px;
  }
  .masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
  }
  .masthead-nav > li > a:hover,
  .masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: rgba(255,255,255,.25);
  }
  .masthead-nav > .active > a,
  .masthead-nav > .active > a:hover,
  .masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
  }

  @media (min-width: 768px) {
    .masthead-brand {
      float: left;
    }
    .masthead-nav {
      float: right;
    }
  }


  /*
   * Footer
   */

  .mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
    padding: 2rem 0 6rem 0;

    /* Links */
    a,
    a:focus,
    a:hover {
      color: #fff;
    }
  }


  /*
   * Affix and center
   */

  @media (min-width: 768px) {
    .masthead {
      padding: 30px 0 15px 0;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
      width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
  }

  @media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
      width: 800px;
    }
  }

  .repo-wrapper {
    color: #333;
    text-shadow: none;
    text-align: left;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2),0 -3px 8px rgba(0,0,0,0.1);
    font-size: 16px;
  }

  /* Custom default button */
  .btn,
  .btn:hover,
  .btn:focus {
    border-bottom-width: 2px;
  }



  h1 {
    font-size: 40px;
    margin: 20px 0;
  }

  .repo-card {
    position: relative;
    min-height: 20rem;
  }
  .topbar,
  .repo-info {
    padding: 6px 20px;
  }
  .topbar,
  .stats {
    background-color: #f5f5f5;
  }
  .topbar {
    border-radius: 4px;
    padding-bottom: 20px;
  }
  .topbar button em {
    font-style: normal;
    color: #aaa;
  }
  .repo-info .how_to_travis {
    margin: 1rem;
  }
  .repo-info .explanation {
    text-align: center;
    opacity: 0.7;
    margin: 1rem;
  }
  .repo-info .explanation p {
    margin: 0;
  }
  .repo-info .explanation p a.btn {
    margin-top: 10px;
  }
  .repo-links {
    margin-bottom: 1rem;
    background-color: #eee;
    text-align: center;
  }
  .repo-links ul {
    list-style-type: none;
    padding: 0;
  }
  .repo-links ul li {
    display: inline-block;
    margin-right: 1rem;
  }
  .repo-links ul li:last-child {
    margin-right: 0;
  }

  .repo-card .description {
    margin-top: 0.1rem;
    opacity: 0.7;
  }

  img.github-logo {
    opacity: 0.7
  }

  .inch-links {
    font-size: 18px;
    text-align: center;
  }
  .what-is-this {
    background-color: #f0f0f0;
    border-top: 4px solid #ddd;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
  }

  strong > em {
    font-weight: normal;
    font-style: normal;
    background-color: #ffa;
  }
}