html
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 16px
  line-height: 1.5

body
  background-image: image-url("topbar.png")
  background-repeat: repeat-x
  padding-top: 8px
  background-color: #fff

.stats
  max-width: 100%
  .progress
    margin-bottom: 1rem
    margin-top: -2rem
  .language,
  .duration
    text-align: left
  .finished_ago,
  .status
    text-align: left

table
  tr
    td.duration
      white-space: nowrap
    .status,
    .trigger
      text-align: center
    .status.warning
      color: #A8BB8F
    .status.success
      color: #548D3C
    .status.cancelled
      color: #A8BB8F
    td.trigger
      .fa
        opacity: 0.5
    &.placeholder
      td
        padding-top: 0
        padding-bottom: 0
        font-size: 14px
        color: #aaa

.start_build,
.configure-a-webhook
  text-align: right
  padding-top: 0
  padding-right: 130px
  em
    background: #ffa

.start_build
  .fa
    font-size: 200%

.configure-a-webhook
  padding-top: 10px
  padding-right: 30px

a.btn-signin
  text-shadow: none
  color: #fff !important
  background-color: #007dce
  border-color: #0b5790
  text-decoration: none !important

  &:hover
    color: #fff !important
    background: #1a6eb7 !important

.btn-cancel
  margin-top: 20px

.projects-subnavi
  text-align: center
  .btn.active
    span.badge
      background-color: #aaa
  .btn
    border-top-left-radius: 0 !important
    border-top-right-radius: 0 !important

  span.badge
    background-color: #00A300

.hint
  border-top: 1px solid #ccc
  padding-top: 1rem
  .btn-default
    float: right
  .progress-bar
    border-radius: 3px

table.projects
  thead th
    padding-top: 2rem
    small
      font-weight: normal
      color: #aaa
  td.hook
    text-align: right
  td.last
    width: 100px
    .progress-bar
      background-color: #98AED5
      border-radius: 3px

.follows
  p a
    display: block
    text-decoration: none !important
    color: #7A67A0

.explanation .error
  color: #c00
  font-weight: bold

#add-user-project
  margin-top: 1rem

.promo-text
  font-size: 18px
  line-height: 28px

.javascript-beta-hint
  padding: 6px 20px
  background: #EAEDD8
  text-align: center
  border-radius: 4px

.edit-project-form
  padding: 20px 40px
  background: #f5f5f5
  border-top: 1px solid #ddd
  border-bottom: 2px solid #eee

.edit-signin-hint
  background: #f5f5f5
  text-align: center

.featured_projects
  strong
    display: block
    margin-top: 10px
    font-weight: normal

table.history
  margin-bottom: 0
  td
    border-top: none !important
  td.status
    border-radius: 4px
    width: 6rem
    text-align: center
  td.duration,
  td.finished_at
    text-align: right
  td.finished_at
    width: 12rem

.grade-list-wrapper,
.revision_diff
  table
    margin-bottom: 0
  table > tbody > tr:nth-child(odd) > td,
  table > tbody > tr:nth-child(odd) > th
    background: transparent
  table > tbody > tr:nth-child(even) > td,
  table > tbody > tr:nth-child(even) > th
    background: #f9f9f9

.revision_diff
  table tr td
    border: none !important
    border-radius: 4px

.grade-list-wrapper,
.history-build-wrapper
  border: 4px solid #f9f9f9
  border-radius: 4px
  margin-bottom: 20px

.history-omitted
  table
    opacity: 0.5
    .status
      color: #aaa
      background-color: #ddd
