html
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 16px
  line-height: 1.5

body
  background-image: image-url("topbar.png")
  background-repeat: repeat-x
  padding-top: 8px
  background-color: #fff

.main
  a
    color: #3555A7
    text-decoration: underline
  .nav a
    text-decoration: none

.stats
  max-width: 100%
  .progress
    margin-bottom: 1rem
    margin-top: -2rem
  .language,
  .duration
    text-align: left
  .finished_ago,
  .status
    text-align: left

table.stats-box
  margin-bottom: 0
  th
    width: 10px
    font-weight: normal
    color: #999
  th, td
    border-top: none !important

tr.hidden_object
  display: none

.grade-table
  td
    border: 1px solid #e5e5e5

table
  tr
    td.duration
      white-space: nowrap
    .status,
    .trigger
      text-align: center
    .status.warning
      color: #A8BB8F
    .status.success
      color: #548D3C
    td.trigger
      .fa
        opacity: 0.5
    &.placeholder
      td
        padding-top: 0
        padding-bottom: 0
        font-size: 14px
        color: #aaa

.start_build,
.configure-a-webhook
  text-align: right
  padding-top: 0
  padding-right: 130px
  em
    background: #ffa
.start_build
  .fa
    font-size: 200%
.configure-a-webhook
  padding-top: 10px
  padding-right: 30px

a.btn-signin
  text-shadow: none
  color: #fff
  background-color: #007dce
  border-color: #0b5790
  text-decoration: none !important

  &:hover
    color: #fff !important
    background: #1a6eb7 !important

.btn-cancel
  margin-top: 20px

p.help-image
  border-radius: 5px
  background: #fff
  margin: 40px 0

.projects-subnavi
  text-align: center
  .btn.active
    span.badge
      background-color: #aaa
  .btn
    border-top-left-radius: 0 !important
    border-top-right-radius: 0 !important
  span.badge
    background-color: #00A300

h1.sub-header
  a
    color: #aaa

.hint
  border-top: 1px solid #ccc
  padding-top: 1rem
  .btn-default
    float: right
  .progress-bar
    border-radius: 3px

table.projects
  thead th
    padding-top: 2rem
    small
      font-weight: normal
      color: #aaa
  td.hook
    text-align: right
  td.last
    width: 100px
    .progress-bar
      background-color: #98AED5
      border-radius: 3px

.follows
  p a
    display: block
    text-decoration: none !important
    color: #7A67A0

#users_show
  padding-bottom: 3rem

.explanation .error
  color: #c00
  font-weight: bold

#add-user-project
  margin-top: 1rem

.promo-text
  font-size: 18px
  line-height: 28px
.javascript-promo
  margin-top: 1rem
  padding: 1rem
  background: #ffffaa
  border: none
  text-align: center
  background: #241C2F
  box-shadow: inset 0 0 20px rgba(0,0,0,.5)
  border: none
  p
    margin: 0
.javascript-beta-hint
  padding: 6px 20px
  background: #EAEDD8
  text-align: center
  border-radius: 4px

.edit-project-form
  padding: 20px 40px
  background: #f5f5f5
  border-top: 1px solid #ddd
  border-bottom: 2px solid #eee
.edit-signin-hint
  background: #f5f5f5
  text-align: center

body.repo
  .help-wrapper
    color: #333
    text-shadow: none
    text-align: left
    background-color: #fff
    border-radius: 4px
    margin-top: 1.5rem
    margin-bottom: 3rem
    box-shadow: 0 2px 6px rgba(0,0,0,0.2),0 -3px 8px rgba(0,0,0,0.1)
    font-size: 16px
    padding: 6px 20px

    h1
      margin-bottom: 3rem !important
    h2
      margin-bottom: 2rem !important
    h3
      margin-top: 2rem !important
      margin-bottom: 1rem !important

    .help-navigation
      strong
        color: #888
        text-transform: uppercase
        margin-top: 1.5rem
      strong, li a
        display: block
        padding: 6px 0 6px 0
      li
        a
          border-top: 1px solid #efefef
