.row-header,
.row-footer
  background-color: #222
  color: #fff
  a
    color: #fff
.row-footer
  padding: 3rem 0
  border-top: 4px solid #888
  color: #aaa
.row-subheader
  background-color: #392455
  color: #fff
  padding: 2rem 0
  font-size: 20px

  form
    padding: 20px 0
    small
      display: block
.row-subsubheader
  background-color: #412A5F
  color: #fff
  padding: 2rem 0
  font-size: 20px

.row-prefooter
  background-color: #f0f0f0
  border-top: 4px solid #ddd

.nav-header
  li
    float: left
    font-size: 20px

    a
      padding: 26px 10px
      color: #fff
      &:hover
        background-color: #362251
        color: #fff

.explanation,
.inch-links
  padding: 2rem 0
  font-size: 20px
  line-height: 26px
  text-align: center